---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro'
---
<Layout title="TTGit">
<div class="p-8 container-auto">
<h1>TTGit</h1>
<p>TTGit is a self-hosted internet provider for hosting files and code.</p>
<p>However, we have that as well on our servers as well!</p>
<p>It works the same way as it does in the original.</p>
<p>You can use it and sign up for free to host any source code, or just use it for assistance and support!</p>
<p>Please click the button below to redirected.</p>
<p><Button href="https://git.ttnrtsite.me" body="Click here to find out!" /></p>
</div>
</Layout>