---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Not found">
<div class="p-8 container-auto">
<h1>404 not found!</h1>
<p>Cannot find the file you are looking for!</p>
</div>
</Layout>