---
interface Props {
	details: string;
  style: string;
}

const { details, style } = Astro.props;
---


<div class={`alert ${style}`} role="alert">
<div class="">
<h3 id="hs-discovery-label" class="text-gray-800 font-semibold dark:text-white">Notice!</h3>
<p class="mt-2 text-sm text-gray-700 dark:text-neutral-400">{details}</p>
</div>
</div>