<button type="button" class="bg-blue-600 text-white hover:bg-blue-700 rounded p-2 border inline-flex items-center text-sm" id="theme-selector">
  <span class="dark:hidden"><i class="fa-solid fa-sun"></i> Light</span>
  <span class="hidden dark:inline"><i class="fa-solid fa-moon"></i>  Dark</span>
</button>